NEXT_PUBLIC_MAPBOX_TOKEN=
OPENAI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=
SENTINELHUB_CLIENT_ID=
SENTINELHUB_CLIENT_SECRET=
